[hr]
object_kind: {{object_kind}}
{{#object_attributes}}
object_attributes:
  id: {{id}}
  title: {{{title}}}
  assignee_id: {{assignee_id}}
  author_id: {{author_id}}
  project_id: {{project_id}}
  created_at: {{created_at}}
  updated_at: {{updated_at}}
  position: {{position}}
  branch_name: {{branch_name}}
  description: {{{description}}}
  milestone_id: {{milestone_id}}
  state: {{state}}
  iid: {{iid}}
{{/object_attributes}}
