[hr]
object_kind: {{object_kind}}
{{#object_attributes}}
object_attributes:
  id: {{id}}
  target_branch: {{target_branch}}
  source_branch: {{source_branch}}
  source_project_id: {{source_project_id}}
  author_id: {{author_id}}
  assignee_id: {{assignee_id}}
  title: {{{title}}}
  created_at: {{created_at}}
  updated_at: {{updated_at}}
  st_commits: {{st_commits}}
  st_diffs: {{st_diffs}}
  milestone_id: {{milestone_id}}
  state: {{state}}
  merge_status: {{merge_status}}
  target_project_id: {{target_project_id}}
  iid: {{iid}}
  description: {{{description}}}
{{/object_attributes}}
